
*{
    background-color: black;
    color: white;
}

h1{
    
}

#output-graph{
    margin-left: 10vw;
    width: 40vw;
    height: 20vw;
    background-color: rgb(19, 19, 19);
}
#output-graph2{
    margin-left: 10vw;
    width: 40vw;
    height: 20vw;
    background-color: rgb(19, 19, 19);
}