
*{
    background-color: black;
    color: white;
}

h1{
    
}
#equation-img{
    height: 8em;
}

#demo-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
}

#output-graph{
    margin-left: 10vw;
    width: 40vw;
    height: 20vw;
    background-color: rgb(19, 19, 19);
}
#output-graph2{
    margin-left: 10vw;
    width: 40vw;
    height: 20vw;
    background-color: rgb(19, 19, 19);
}